@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #35b257;
        --secondary-color: #76ab71;
        --tertiary-color: #548fd2;
        --link-shadow: 2px 2px 1px rgba(29, 196, 18, 0.1);
        --font-color: #424242;
        --highlight-color: #333;
        --bg-color: #fff;
        --heading-color: #292922;
        --cam-color: #d5c400;
        --wedding-color: #ec8472;
        --travel-color: #ff81cd;
        --aside-color: #eee
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #a5f0a9;
        --secondary-color: #85ab84;
        --tertiary-color: #69a8e9;
        --link-shadow: 1px 0 10px rgba(255, 255, 255, 0.5);
        --font-color: #eee;
        --highlight-color: #fff;
        --bg-color: #1f2520;
        --heading-color: #9FB7A3;
        --cam-color: #fede00;
        --wedding-color: #f4cbb9;
        --travel-color: #ff81cd;
        --aside-color: #343b36;
    }
}

print-only {
    display: none;
}

@page {
    margin-top: 0.25in;
    margin-bottom: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

@media print {
  header,
  footer,
  nav {
    display: none !important;
  }

  h1 {
    font-size: 18px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    page-break-after: avoid;
  }

  h2, h3 {
    font-size: 14px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    page-break-after: avoid;
  }

  cv-section {
    display: flex;
    justify-content: space-between;
  }
    /*
  h2 + p {
      display: flex;
      justify-content: flex-end;
  } */

  p {
    font-size: 12px !important;
    line-height: normal !important;
  }

  body {
    font-size: 12px !important;
    line-height: normal !important;
    margin: 0px auto !important;
  }

  print-only {
    display: block;
  }

  no-print {
    display: none;
  }

  print-only ul.cv-topline {
    padding: 0;
    list-style: none;
  }

  print-only ul.cv-topline li {
    display: inline;
    margin-right: 25px;
  }
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0 10px;
    /* Thanks again, CSS Tricks: https://css-tricks.com/snippets/css/system-font-stack/ */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

figure img {
    max-width: 70%;
}

figcaption {
    font-style: italic;
    font-size: .8em;
    color: var(--secondary-color);
}

figure {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

h1, h2, h3, summary {
    font-feature-settings: "smcp" on;
    letter-spacing: 5px;
}

h1 {
    color: var(--heading-color);
    font-weight: bolder;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1vh;
}

summary {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

details details summary {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
}

details details {
    margin-left: 10px;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

p img {
    max-width: 100%;
}

#profile {
    float: left;
    border-radius: 50%;
    margin-right: 1.5rem;
    width: 33%;
    max-width: 270px;
}

.pa-gallery-player-widget {
    display: none;
    height: 906px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        width: 95%;
    }

    #profile {
        width: 95%;
        max-width: 95%;

    }

    figure img {
        max-width: 95%;
    }

    video {
        max-width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    .pa-gallery-player-widget {
        height: 480px;
    }
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    line-height: 2.5em;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid transparent;
    transition: .5s ease;
    text-shadow: var(--link-shadow)
}

a[href*='//'] {
    color: var(--tertiary-color);
}

a[href*="//camille"] {
    color: var(--cam-color);
}

a[href*="//wedding"] {
    color: var(--wedding-color);
}

a[href*="//vagabonvivant"] {
    color: var(--travel-color);
}

a[href^="https://alxmrs"] {
    color: var(--primary-color);
}

a:hover, a:focus, a:active {
    color: var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
}

#profile:hover {
    transform: rotate3d(0, -1, 0, 3.142rad);
    transition: 0.4s;
}
#profile:not(:hover) {
    transform: rotate3d(0, 0, 0, 0);
    transition: 0.4s;
}

footer {
    font-size: .8em;
}

iframe {
    max-width: 100%;
}

aside {
    border-radius: 10px;
    background-color: var(--aside-color);
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
